.container
  .row
    .col-md-6
      = form_for [@category, @resource], class: 'form-horizontal' do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control'
          = f.label :description
          = f.text_area :description, class: 'form-control'
          = f.label :url
          = f.text_field :url, class: 'form-control'
          / = f.hidden_field_tag :user_id, current_user.id
          %br
          = f.submit "Create new resource!"