
.container
  .col-sm-8
    %h3= @category.title 
    %br
    .list-group
      %ul
      - @resources.each do |resource|
        %li.list-group-item
          %h4
            = link_to resource.name, resource.url, target: "_blank"
          - if resource.description    
            %p
              = resource.description
          .row
            = link_to "New Comment", "#" , :class => "see-form"
            .dropdown-toggle
              = render 'comments/new_comment', commentable: resource
          - resource.comments.each do |comment|
            %li.list-group-item
              %p
                = comment.body
                = comment.user_id
              
      %br


      = render "resources/form"

