
%h1= @category.title

.col-sm-4
  .list-group
    %ul
    - @resources.each do |resource|
      %li.list-group-item
        = link_to resource.name, resource.url, target: "_blank"
      %li.list-group-item
        = resource.description
        = link_to "New Comment" 
        = render "comments/comment_resource"

    = render "resources/form"

/ pass to comment controller and have it handle wehre it wants to go

