.container
  .col-sm-10
    %h1 
      = @post.title
    %small
      = "submitted #{time_ago_in_words(@post.created_at)} ago by " 
      = @post.user.name 
    %hr

    = @post.body

    %h2 
      / = pluralize @post.comments.count 
      Comment

    %hr
    - @post.comments.each do |comment|
      = render 'partials/comment', comment: comment
    %hr
    = render 'partials/new_comment', commentable: @post